body { 
    font: 10pt; 
}

h1 { 
    font-family: 'Tahoma';
    
    color: red;
    font: 24pt;
}

h2 {
    color: red; 
    font: 18pt;
}

h3 {
    color: red; 
    font: 14pt;
}
fieldset {
    width: 400px;
    margin: 0px auto;
    background-color: rgba(1, 1, 67, 0.692); 
}

form {
    text-align: center;
}

label { 
    color: red;
}

button {
    padding:30px;
}